doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  link(rel='stylesheet' href='./assests/css/main.css')
// Header (Unchanged)
header
  img#lo(src='./assests/img/log.png' alt='logo')
  nav#nav-bar
    ul
      li
        a(href='#') Home
      li
        a(href='#interface-container') Features
      li
        a(href='#account-steps') Help
  p Caste your vote
// Main container with image on the left and m-1 division on the right
section#container
  .container
    img(src='./assests/img/main-img.jpg' alt='load')
    .m-1
      h1 Welcome to True Vote,
      p
        | &quot;We&apos;re thrilled to have you here. In today&apos;s fast-paced world,
        | your voice deserves to be heard, and that&apos;s why we&apos;ve created
        | a secure and user-friendly online voting platform just for you.
        | At True Vote, we believe in empowering every individual to express
        | their opinions and make a difference in their communities.
        | Whether you&apos;re voting for local initiatives, national policies,
        | or representatives, you can do it all with just a few clicks. Together,
        | let&apos;s shape a brighter future&mdash;your vote matters!&quot;
      a#but(href='/login') Get Started
// Interface Section
section#interface-container
  .interface-container
    h1 Our features
    .grid-item
      h2 User Interface
      p
        | The user dashboard will give you access to voting features, where you can view the latest polls and cast your vote securely. Manage your profile, view previous votes, and stay informed on upcoming elections.
    .grid-item
      h2 Candidate Interface
      p
        | This interface gives candidates access to manage their campaigns, communicate with voters, and view election results. It&apos;s designed to ensure candidates have the necessary tools to engage voters and present their platforms.
    .grid-item
      h2 Admin Interface
      p
        | The Admin can control polling activities, monitor vote counts, and manage users and candidates. The interface also provides insights into voter participation, ensuring a smooth and secure election process.
// Steps to Get Account Section
section#account-steps
  h1 Steps to Get an Account
  #stps
    ul
      li Step 1: Click on &quot;Get Started&quot; above.
      li Step 2: Login if you already have an account.
      li Step 3: If you don&apos;t have an account, click on &quot;Register&quot;.
      li Step 4: After filling all fields, click on &quot;Register&quot;.
// Sticky Footer
//
  <footer>
  <p>&copy; @2024 True Vote. All rights reserved.</p>
  </footer>
footer
  .footer-container
    .footer-column
      h2 About True Vote
      p
        | True Vote is an online voting platform designed to ensure secure and transparent elections. Our system is trusted by millions of users for its efficiency and reliability.
    .footer-column
      h2 Key Features
      ul
        li Secure voting process
        li Real-time results
        li User-friendly interface
        li Available 24/7
        li Trusted by organizations worldwide
    .footer-column
      h2 Follow Us On
      i.fab.fa-instagram
      i.fab.fa-x
      i.fab.fa-facebook
    .footer-column
      a(href='/contact')
        button.contact-button Contact Us
      a(href='#') Help?
  p.footer-rights  copy &amp;: All rights reserved to @True Vote
